.bodyAproposCss {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fa;
    padding: 40px 20px;
    color: #333;
}

.containerApropos {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.05);
}

.textApropos h1,
.textApropos h2,
.textApropos h3 {
    color: #1255d0;
    font-weight: 600;
    margin-top: 30px;
}

.h1aPropos {
    text-align: center;
    font-size: 2.2rem;
    color: #002855;
}

.textApropos p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin: 15px 0;
}

.textApropos ul {
    margin-left: 20px;
    padding-left: 15px;
    font-size: 1rem;
    line-height: 1.6;
}

.highlight,ul{
    font-weight: 600;
   
}

.buttonApropos {
    display: inline-block;
    margin-top: 30px;
    background-color: #1255d0;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    
}

.cta:hover {
    background-color: #0e46a3;
}
