.bodyAproposCss {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    color: #ffffff;
    
        width: 50%;
    display: block;
    margin: auto;
    

}
.containerApropos{
text-align: center;
background-color: rgba(153, 23, 23, 0.3);
    display: block;
    margin: auto;
        margin-top: 65px;
        border-radius: 10px;
}
.textApropos{
margin: auto;
}



h1,
h2,
h3 {
    color: #004d99;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.highlight {
    font-weight: bold;
    color: #ff6600;
}

.cta {
    display: block;
    width: max-content;
    margin: 20px auto;
    padding: 10px 20px;
    background: #004d99;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.cta:hover {
    background: #003366;
}