/* .mentions-legales {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: aliceblue;
    border-radius: 10px;
}

.mentions-legales h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
}

.mentions-legales h2 {
    font-size: 1.2em;
    margin-top: 25px;
    color: #007BFF;
}

.mentions-legales p {
    margin: 10px 0;
}

.mentions-legales a {
    color: #007BFF;
    text-decoration: none;
}

.mentions-legales a:hover {
    text-decoration: underline;
} */
